{% extends 'base.html.twig' %}

{% block title %}Hello ReactController!{% endblock %}

{% block body %}
        {# <div class="flex justify-center items-center" id="hello-react">
        </div>

        <div id="modal"></div>
        <div class="flex justify-end items-start mt-4 ml-4" id="menu"></div> #}
        <div id="root"></div>


{% endblock %}
